* {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
nav {
    height: 69px;

}
#logo {
    height: 50px;
    margin-left: 10px;
}
.navigator li{
    text-decoration: underline;
    display: inline;
    font-size: 22px;
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: sticky;
    background-color: black;
    opacity: 1;
}
.mission {
    background-image: url('../images/img-mission-background.jpg');
    background-size: 100%;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    
}
.inner-mission {
    opacity: 1;
    width: 1200px;
    
}
.month {
    width: 1200px;
    height: 900px;
    
}
.photos {
    width: 300px;
    height: 200px;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#copyright {
    text-align: left;
}
footer {
    height: 250px;
}
.location {
    background-image: url(../images/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    background-size: 100%;
}
.locat {
    padding-top: 60px;
    padding-bottom: 15px;
    background:none;
}
.dif-locations {
    display: inline-block;
    width: 300px;
    background-color: black;
    opacity: 1;
}